name: Upload Markdown from API

on:
  workflow_dispatch:
    inputs:
      filename:
        required: true
      content:
        required: true

jobs:
  commit-file:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create markdown file
        run: |
          echo "${{ github.event.inputs.content }}" > ${{ github.event.inputs.filename }}

      - name: Commit file
        run: |
          git config user.name "bot"
          git config user.email "bot@github.com"
          git add .
          git commit -m "Add generated markdown"
          git push
